* {
  font-family: arial;
  color: #282c34;
}

h1 {
  color: #56b6c2;
  font-weight: bolder;
}

h2 {
  font-weight: bold;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 5px;
}

h4 {
  font-style: italic;
  adding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 5px;
}

h5 {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
